{% extends 'base.html' %}
{% block title %}Galería — Cabañas El Progreso{% endblock %}
{% block content %}

<section class="page-hero">
    <h1><strong>Galería</strong></h1>
    <p>Imágenes que capturan la esencia de Cabañas El Progreso</p>
</section>

<section class="galeria-section">
    <div class="container">
        <div class="galeria-grid">
            <div class="galeria-item">
                <img src="https://puajtqqoskkmqiyzlrvm.supabase.co/storage/v1/object/public/Cabanas-el-progreso/Galeria/20260524_213914.jpg"
                     alt="Cabañas El Progreso"
                     loading="lazy">
            </div>
            <!-- Agrega más así: -->
            <div class="galeria-item">
                <img src="https://puajtqqoskkmqiyzlrvm.supabase.co/storage/v1/object/public/Cabanas-el-progreso/Galeria/20260524_180315.jpg"
                     alt="Descripción de la foto"
                     loading="lazy">
            </div>

            <div class="galeria-item">
                <img src="https://puajtqqoskkmqiyzlrvm.supabase.co/storage/v1/object/public/Cabanas-el-progreso/Galeria/20260524_213830.jpg"
                     alt="Descripción de la foto"
                     loading="lazy">
            </div>
        </div>
    </div>
</section>

{% endblock %}